body{
    background-color: #eeeeee;
    display: flex;

}


.container {
    justify-content: center;
    margin: 200px 200px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}