body {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
    background-color: #eeeeee;
}

header, footer, main, aside{
    flex-shrink: 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    font-family: Helvetica, sans-serif;
}

header, footer {
    flex: 0 0 100px;
    width: 90%;
    box-sizing: border-box;
    flex-basis: 100px;
    flex-grow: 1;
}

.content {
    display: flex;
    flex: 1;
    width: 90%;
    margin: 2% 0 2% 0;
}

main, aside{
    flex-basis: auto;
    flex-grow: 1;
}

main {
    flex: 3;
    margin-right: 50px;
    height: 300px;
}

aside {
    flex: 1;
}